<div class="col-md-6">
        <center>
                <img src="[@gateway_send_icon]" class="img-circle cryptoexchanger-icon-reserve" width="48px" height="48px"> <span class="cryptoexchanger-exchange-text">[@amount_send] [@amount_send_currency] </span>
                <span class="cryptoexchanger-padding"><i class="fa fa-arrow-circle-o-right fa-1x"></i> </span>
                <img src="[@gateway_receive_icon]" class="img-circle cryptoexchanger-icon-reserve" width="48px" height="48px"> <span class="cryptoexchanger-exchange-text">[@amount_receive] [@amount_receive_currency]</span>
                <Br/><small><i class="fa fa-clock"></i> [@date]</small>
            </center>
</div>