<div class="col-md-3 page-content">
        <div class="inner-box">
            <div class="row">
                <div class="col-md-4">
                    <img src="[@gateway_icon]" class="img-circle cryptoexchanger-icon-reserve" width="32px" height="32px">
                </div>
                <div class="col-md-8 cryptoexchanger-reserve-col">
                    <span class="cryptoexchanger-reserve-title">[@gateway_name]</span><br/>
                    <span class="cryptoexchanger-reserve-value text text-muted">[@gateway_reserve] [@gateway_currency]</span>
                </div>
            </div>
        </div>
    </div>